{% extends "./../base.twig" %}

{% block content %}
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% else %}
            <li>No products have been found</li>
        {% endfor %}
    </ul>
{% endblock %}
